<div align="center">
<h1>Home#index</h1>
<h1>Hello, Rails!</h1>
<%= link_to "My Blog", posts_path %>
<%= link_to "About", page_about_path %>
<%= link_to "Help", page_help_path %>
<p>Find me in app/views/home/index.html.erb</p>
</div>
